body {
  font-family: 'Archivo', sans-serif;
}


.button-class{
    display: inline-block;
    background-color: #e4e1e1;
    color: rgb(0, 0, 0);
    border: none;
    width: 300px;
    padding: 16px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    margin: 4px 2px 5px 0;
    -webkit-transition-duration: 0.4s; /*safari*/
    transition-duration: 0.4s;
    cursor: pointer;
}

ul {
    padding: 5px;
    text-align: center;
}

/* li {
    list-style-type: none;
} */

#modal-container {
    display: none
}

.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
  z-index: 999; 

    /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
    /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
    text-align: center;
    padding-bottom: 5px;
  }
  

  .modal h1 {
    font-size: 40px;
    text-transform: uppercase;
    
  }
  
  .modal-body {
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: capitalize;
  }

  .modal-body img {
    width: 40%;
    height: 40%;
    padding-bottom: 20px;
  }
